<section class="ofrenda-container ofrenda-background">
  <header class="ofrenda-header">
    <div class="logos">
      <img src="images/logo_congreso_voluntariado.png" alt="Logo Voluntariado" style="width: 300;">
    </div>
    <h1>Concurso de Ofrendas 2025</h1>
    <p class="intro">
      Con el objetivo de preservar nuestras tradiciones, fomentar la creatividad y promover el trabajo en
      equipo, se invita a todas las personas servidoras públicas que conforman el Poder Legislativo
      del Estado de México a participar en el Concurso de Ofrendas del Día de Muertos.
    </p>
  </header>

  <section class="bases">
    <h2>Bases de participación</h2>
    <div class="bases-grid">
      <div class="base">
        <h3>1. Participación por edificio</h3>
        <p>Deberán formar un equipo por edificio,
        integrado por representantes de todas las
        Unidades Administrativas del inmueble
        participante.
        Las inscripciones se realizarán de forma
        electrónica a través del siguiente enlace:
        https://ofrendas.congresoedomex.gob.mx
        hasta el 20 de octubre de 2025.</p>
      </div>
      <div class="base">
        <h3>2. Tema</h3>
        <p>Se permite el uso de temáticas
        creativas que enriquezcan la
        representación, siempre que se
        respete el sentido cultural y
        simbólico de la festividad.</p>
      </div>
      <div class="base">
        <h3>3. Características generales</h3>
        <p>El espacio máximo permitido para
        cada ofrenda será de 3 x 3 metros.
        Los aspectos a evaluar incluyen la
        simbología, interpretación y la
        presentación visual.</p>
      </div>
    </div>
  </section>

  <section class="fechas">
    <h2>Fechas Importantes</h2>
    <div class="fechas-grid">
      <div>
        <h4>Montaje</h4>
        <p>27, 28 y 29 de octubre</p>
      </div>
      <div>
        <h4>Evaluación</h4>
        <p>30 de octubre</p>
      </div>
      <div>
        <h4>Premiación</h4>
        <p>31 de octubre</p>
      </div>
    </div>
  </section>

  <section class="formulario">
    <h2>Formulario de Registro</h2>
    <form [formGroup]="ofrendaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nombre del edificio o área participante</label>
        <input type="text" formControlName="edificio" />
        <small *ngIf="f['edificio'].invalid && f['edificio'].touched" class="error">
          Campo obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Dirección o ubicación</label>
        <input type="text" formControlName="direccion" />
        <small *ngIf="f['direccion'].invalid && f['direccion'].touched" class="error">
          Campo obligatorio
        </small>
      </div>

      <h3>Responsable del equipo</h3>

      <div class="form-group">
        <label>RFC</label>
        <input type="text" formControlName="rfc" (blur)="onRfcBlur()" />
        <small *ngIf="f['rfc'].invalid && f['rfc'].touched" class="error" >
          Campo obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Nombre completo</label>
        <input type="text" formControlName="responsable" readonly  />
        <small *ngIf="f['responsable'].invalid && f['responsable'].touched" class="error">
          Campo obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Cargo / Área</label>
        <input type="text" formControlName="cargo" readonly />
        <small *ngIf="f['cargo'].invalid && f['cargo'].touched" class="error">
          Campo obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Teléfono de contacto</label>
        <input type="tel" formControlName="telefono" />
        <small *ngIf="f['telefono'].invalid && f['telefono'].touched" class="error">
          Ingresa un número válido (10 dígitos)
        </small>
      </div>

      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" formControlName="email" />
        <small *ngIf="f['email'].invalid && f['email'].touched" class="error">
          Ingresa un correo válido
        </small>
      </div>

      <h3>Espacio Designado para la Ofrenda</h3>

      <div class="form-group">
        <label>Descripción breve del lugar</label>
        <input type="text" formControlName="descripcion" />
        <small *ngIf="f['descripcion'].invalid && f['descripcion'].touched" class="error">
          Campo obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Piso / área específica</label>
        <input type="text" formControlName="piso" />
        <small *ngIf="f['piso'].invalid && f['piso'].touched" class="error">
          Campo obligatorio
        </small>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="acepto" formControlName="acepta" />
        <label for="acepto">Acepto participar conforme a las bases establecidas.</label>
      </div>
      <small *ngIf="f['acepta'].invalid && f['acepta'].touched" class="error">
        Debes aceptar para continuar
      </small>

      <button type="submit" class="btn-enviar" [disabled]="ofrendaForm.invalid">
        Enviar Registro
      </button>
    </form>
  </section>
</section>